*{
    box-sizing: border-box;/*para poner ancho y alto a los elementos*/
}

/*Body*/
.menu{

    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo-menu{
  text-align: center;  
  margin: 25px;
  font-weight: bolder;
  font-style: italic;
}

/*Section*/
.contenedor{
    width: 100%;
    display: flex;
    max-width: 1300px; /*max. de ancho*/
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 60px;/*Espacion entre cada uno*/
    margin: 20px;  
    place-items: center; 
}

.card {
    margin: 20px;
    width: 200px;
    height: 300px;
    border-radius: 6px;
    background-size: cover;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
    background-color: #ffffff82;
}

/*1era Fila*/
.card-pastel-fresas{
    background-image:url(/Imagenes/pastel-fresas.webp) ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.card-pastel-cho3leches{
    background-image:url(/Imagenes/pastel-3leches-chocolate.webp) ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.card-pastelmilhojas{
    background-image:url(/Imagenes/milhojas.webp) ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.card-pasteltiramisu{
    background-image:url(/Imagenes/pastel-tiramisu.webp) ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*2da Fila*/
.card-pastelsalon{
    background-image:url(/Imagenes/pastelsalon.webp) ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.card-pastelmascarpone{
    background-image:url(/Imagenes/pastelmascarpone.webp) ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.card-pastelmoka{
    background-image:url(/Imagenes/pastelmoka.webp) ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.card-pasteldurazno{
    background-image:url(/Imagenes/pasteldurazno.webp) ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*3er Fila*/
.card-pastelcarajillo{
    background-image:url(/Imagenes/pastelcarajollo.webp) ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.card-pastelzanahoria{
    background-image:url(/Imagenes/pastelzanahoriaindv.webp) ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.card-chux{
    background-image:url(/Imagenes/chouxindv.webp) ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.card-pastelnapoleon{
    background-image:url(/Imagenes/napoleonindv.webp) ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*4ta Fila*/
.card-pastel4chocolate{
    background-image:url(/Imagenes/cuatrochocolateindv.webp) ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}





.contenido{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: .5s;
}

.contenido h3{
    text-align: center;
    font-size: x-large;
    color: rgba(255, 255, 255, .8);

}

.card:hover .contenido{ /*al elemento card, cuando hago hover(mouse), aplicamos etilos a elemento contenido*/
    opacity: 1;
}